!!!
%html{:dir => "ltr", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Social
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    = javascript_include_tag :application
    = stylesheet_link_tag :application
    = csrf_meta_tag
  %body
    =render :partial=>'shared/flash_app'
    .header
      %p
        -for service in @services
          = link_to image_tag("providers/#{service.provider_name}_32.png", :size => "32x32"), service_wall_path(service.provider)
      %p
      -if !user_signed_in?
        = link_to "Registration", new_user_registration_path
        = link_to "Authorization", new_user_session_path
      -else
        = link_to "Socials", services_path#new_user_session_path
        = link_to "Exit", destroy_user_session_path, :method => :delete

    .content
      = yield

    .footer
      .f-in
        %p= "© Copyright 2011-#{Time.now.year}"
